* Working code > Clean code

Requirements: 

1. Add New Feature
1.1. Add a new endpoint where you can fetch a collection of holidays the company needs to cater for in a year which is returned as collection of type HolidayDto. 
1.2. This endpoint should have the route 'api/daysoff/[year]'
1.3. No holidays should be removed from the list
1.4. If a work holiday lands on a public holiday or the weekend it needs to be moved to the next available work day (Monday - Friday)
1.5. The collection should be ordered by date ascending